:root {
  --dc-border-color: #111111 !important;
  --transparent-header-menu-text-color: var(--dc-border-color) !important;
}

.header,
.header .text--link { font-family: var(--font-body-family-semibold) !important; }
.hero-banner .hero__media.media--overlay::before { display: none; }
.header__nav-dropdown .header__card .card__title { margin-right: auto; color: #fff; font-family: var(--font-heading-family); font-weight: normal; }

.footer .newsletter__field .field__input-wrapper { background: #D8B48F; }
.footer .newsletter__field .field__input,
.footer .newsletter__field .button { background: transparent; }

.product .product__content .product__title { margin-bottom: 8px; font-size: 16px; }
.product .product__content .product__title + .product__text p { margin: 0; font-family: var(--font-body-family-medium); font-weight: normal; font-size: 10px; letter-spacing: 0.1em; }
.product .product__content .product__price { margin-top: 20px; }
.product .product__content .button,
.product .product__content button.shopify-payment-button__button--unbranded { font-family: var(--font-body-family-medium); font-weight: normal; font-size: 12px; letter-spacing: 0.16em; }
.product .product__content .accordion__button { font-family: var(--font-body-family-bold); font-weight: normal; font-size: 16px; }

.section-multitile__block .section-multitile__content h2 { font-family: var(--font-body-family-bold); font-weight: normal; }

.breadcrumbs__list li { font-family: var(--font-body-family-medium); font-weight: normal; font-size: 10px; color: #6A6A6A; }
.breadcrumbs__list li .button.button--text { color: #6A6A6A; }
.breadcrumbs__list li .button.button--text:hover { color: #000; }
.breadcrumbs__list li .button.button--text::after { display: none; }

.section-page-banner__content .section-page-banner__text { max-width: 675px; }
.section-page-banner__content .section-page-banner__text p { font-family: var(--font-body-family-medium); font-size: 14px; }
@media all and (min-width: 750px) {
  .section-page-banner__content .page-banner__title.section__heading { font-size: 44px; }
}

.collection-facets__inner,
.facets__button-filters.facets__actions-button,
.facets__divider,
.custom-select__btn.facets__button-custom { border-color: #d9d9d9 !important; }

.button { font-family: var(--font-body-family-medium); font-weight: normal; font-size: 12px; letter-spacing: 0.16em; }

.shopify-policy__container h1 { text-transform: uppercase; }

@media all and (max-width: 749px) {
  .section.product-feed .section__heading {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
  .shopify-payment-button [role=button], button.shopify-payment-button__button--unbranded { padding: 1.6rem; }
}